.chat-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
    transition: background-color 0.1s ease;
  }
  .chat-item:hover{
    background-color: #f7f8fc;
  }
  .chat-item.active {
    background-color: #f7f8fc;
  }
  
  .avatar {
    width: 55px;
    height: 55px;
    border-radius: 10px;
    margin-right: 10px;
  }
  
  .chat-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  
  .chat-title {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
  .chat-title span:nth-child(1){
    font-weight: 500;
    font-size: 16px;
  }
  .chat-title span:nth-child(2){
    font-size: 12px;
    color: #9D9D9D;
  }
  .chat-message {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: gray;
  }
  
  .unread-badge {
    background-color: #f7f8fc;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    color: #646AFD;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  